@import '../../sass/variables';
@import '../../sass/keyframes';

.about {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20%;
    font-size: 40px;
    line-height: 2em;

    > .about_icons {
        display: flex;
        justify-content: center;

        > a, div {
            text-decoration: none;
            margin: 10px 20px;
            font-size: 60px;
            cursor: pointer;
        }
    }
}

// .tree_trunk {
//     width: 80px;
//     height: 120px;
//     background-color: rgb(52, 31, 5);
//     border-radius: 5px 5px 2px 2px;
//     -webkit-border-radius: 5px 5px 2px 2px;
//     -moz-border-radius: 5px 5px 2px 2px;
//     -ms-border-radius: 5px 5px 2px 2px;
//     -o-border-radius: 5px 5px 2px 2px;
//     box-shadow: inset 15px 0px 10px rgb(33, 21, 6), inset 15px 0px 20px rgb(195, 124, 38), inset -15px 0px 20px rgb(33, 21, 6), inset -15px 0px 30px rgb(195, 124, 38);
// }

// .back_image_wrapper {
//     display: flex;
//     align-items: center;
//     height: 100px;
//     cursor: pointer;

//     &:hover {
//         .back_image {
//             transform: scaleX(4);
//             -webkit-transform: scaleX(4);
//             -moz-transform: scaleX(4);
//             -ms-transform: scaleX(4);
//             -o-transform: scaleX(4);
//             transition: transform 2s cubic-bezier(.32,0,.07,1);
//             -webkit-transition: transform 2s cubic-bezier(.32,0,.07,1);
//             -moz-transition: transform 2s cubic-bezier(.32,0,.07,1);
//             -ms-transition: transform 2s cubic-bezier(.32,0,.07,1);
//             -o-transition: transform 2s cubic-bezier(.32,0,.07,1);
//             transform-origin: left;
//             border-radius: 5px;
//             -webkit-border-radius: 5px;
//             -moz-border-radius: 5px;
//             -ms-border-radius: 5px;
//             -o-border-radius: 5px;
// }
//     }
// }
// .back_image_box {
//     width: 80px;
//     height: 20px;
//     position: absolute;
//     background-color: black;
//     border-radius: 0 10px 10px 0;
//     -webkit-border-radius: 0 10px 10px 0;
//     -moz-border-radius: 0 10px 10px 0;
//     -ms-border-radius: 0 10px 10px 0;
//     -o-border-radius: 0 10px 10px 0;
//     box-shadow: inset 0px 5px 10px white, inset -1px -5px 5px white;
// }
// .back_image {
//     width: 25%;
//     height: 20px;
//     position: relative;
//     z-index: -1;
//     margin: 20% 0;
//     border-radius: 10px;
//     -webkit-border-radius: 10px;
//     -moz-border-radius: 10px;
//     -ms-border-radius: 10px;
//     -o-border-radius: 10px;
//     background-image: linear-gradient( 135deg, #69FF97 10%, #69FF97 100%);
//     box-shadow: inset 5px 0px 5px 3px (#e3faea), inset 5px 0px 5px 5px (#b6e0c3);
// }

@media (max-width: 1200px) {
    .about {
        margin-top: 25%;
    }
}
@media (max-width: 1000px) {
    .about {
        margin-top: 30%;
    }
}
@media (max-width: 800px) {
    .about {
        margin-top: 35%;
        text-align: center;
    }
}
@media (max-width: 600px) {
    .about {
        margin-top: 40%;
    }
}
@media (max-width: 400px) {
    .about {
        margin-top: 50%;
    }
}