
@keyframes welcome {
    0%{
        margin: auto -200%;
        color: white;
    }
    25%{
        margin: auto -100%;
        color: white;
    }
    65%{
        margin: auto 0%;
        color: rgba(255, 255, 255, 0.8);
    }
    100%{
        margin: none;
        color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes carrousel_arrow {
    0%{
        // transform: translate(0);
        // -webkit-transform: translate(0);
        // -moz-transform: translate(0);
        // -ms-transform: translate(0);
        // -o-transform: translate(0);
        color: white;
    }
    50%{
        color: black;
    }
    100%{
        color: white;
        // transform: translate(-60px);
        // -webkit-transform: translate(-60px);
        // -moz-transform: translate(-60px);
        // -ms-transform: translate(-60px);
        // -o-transform: translate(-60px);
}
}

@keyframes carrousel_entrance {
    0%{
        transform: translateX(-500px);
        -webkit-transform: translateX(-500px);
        -moz-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
        -o-transform: translateX(-500px);
}
    80%{
        transform: translateX(500px);
        -webkit-transform: translateX(500px);
        -moz-transform: translateX(500px);
        -ms-transform: translateX(500px);
        -o-transform: translateX(500px);
}
    100%{
        transform: translateX(2000px);
        -webkit-transform: translateX(2000px);
        -moz-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        -o-transform: translateX(2000px);
}
}

@keyframes cards_entrance {
    0%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
    50%{
        transform: translateX(250px);
        -webkit-transform: translateX(250px);
        -moz-transform: translateX(250px);
        -ms-transform: translateX(250px);
        -o-transform: translateX(250px);
}
    100%{
        transform: translateX(500px);
        -webkit-transform: translateX(500px);
        -moz-transform: translateX(500px);
        -ms-transform: translateX(500px);
        -o-transform: translateX(500px);
}
}

@keyframes githubLogo {
    0%{
        transform: scale(100%);
        -webkit-transform: scale(100%);
        -moz-transform: scale(100%);
        -ms-transform: scale(100%);
        -o-transform: scale(100%);
}
    100% {
        transform: scale(105%);
        -webkit-transform: scale(105%);
        -moz-transform: scale(105%);
        -ms-transform: scale(105%);
        -o-transform: scale(105%);
}
}