@keyframes carrousel_arrow {
    0%{
        color: #69FF97;
    }
    50%{
        color: black;
    }
    100%{
        color: #69FF97;
    }
}

@keyframes carrousel_entrance {
    0%{
        transform: translateX(-500px);
        -webkit-transform: translateX(-500px);
        -moz-transform: translateX(-500px);
        -ms-transform: translateX(-500px);
        -o-transform: translateX(-500px);
    }
    100%{
        transform: translateX(2000px);
        -webkit-transform: translateX(2000px);
        -moz-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        -o-transform: translateX(2000px);
    }
}

@keyframes cards_entrance {
    0%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
    50%{
        transform: translateX(250px);
        -webkit-transform: translateX(250px);
        -moz-transform: translateX(250px);
        -ms-transform: translateX(250px);
        -o-transform: translateX(250px);
}
    100%{
        transform: translateX(400px);
        -webkit-transform: translateX(400px);
        -moz-transform: translateX(400px);
        -ms-transform: translateX(400px);
        -o-transform: translateX(400px);
}
}

@keyframes githubLogo {
    0%{
        transform: scale(100%);
        -webkit-transform: scale(100%);
        -moz-transform: scale(100%);
        -ms-transform: scale(100%);
        -o-transform: scale(100%);
}
    100% {
        transform: scale(110%);
        -webkit-transform: scale(110%);
        -moz-transform: scale(110%);
        -ms-transform: scale(110%);
        -o-transform: scale(110%);
    }
}

@keyframes plant {
    0%{
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
}
    100% {
        transform: scaleY(100px);
        -webkit-transform: scaleY(100px);
        -moz-transform: scaleY(100px);
        -ms-transform: scaleY(100px);
        -o-transform: scaleY(100px);
}
}