@import './variables';

@mixin card_transform {
    animation: scale 2 ease-in-out;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    -webkit-animation: scale 2 ease-in-out;
}

@mixin carrousel_show {
    width: 12%;
    transition: width 1.5s cubic-bezier(.06,.74,1,.52);
    -webkit-transition: width 1.5s cubic-bezier(.06,.74,1,.52);
    -moz-transition: width 1.5s cubic-bezier(.06,.74,1,.52);
    -ms-transition: width 1.5s cubic-bezier(.06,.74,1,.52);
    -o-transition: width 1.5s cubic-bezier(.06,.74,1,.52);
    
    .arrowDown,.arrowUp {
        height: 80px;
        width: 80px;    
    }
}