@import './variables';

@mixin card_transform {
    animation: scale 2 ease-in-out;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    -webkit-animation: scale 2 ease-in-out;
}

@mixin carrousel_show {
    transition: width 1s cubic-bezier(.06,.74,1,.52);
    -webkit-transition: width 1s cubic-bezier(.06,.74,1,.52);
    -moz-transition: width 1s cubic-bezier(.06,.74,1,.52);
    -ms-transition: width 1s cubic-bezier(.06,.74,1,.52);
    -o-transition: width 1s cubic-bezier(.06,.74,1,.52);

    .arrowDown,.arrowUp {
        height: 80px;
        width: 80px;
        transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
        -webkit-transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
        -moz-transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
        -ms-transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
        -o-transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
    }
}

@mixin carrousel_notShow {
    transition: width 1s cubic-bezier(.06,.74,1,.52);
    -webkit-transition: width 1s cubic-bezier(.06,.74,1,.52);
    -moz-transition: width 1s cubic-bezier(.06,.74,1,.52);
    -ms-transition: width 1s cubic-bezier(.06,.74,1,.52);
    -o-transition: width 1s cubic-bezier(.06,.74,1,.52);

    .arrowDown,.arrowUp {
        height: 15px;
        width: 15px;
        transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
        -webkit-transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
        -moz-transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
        -ms-transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
        -o-transition: width 1s cubic-bezier(.06,.74,1,.52), height 1s cubic-bezier(.06,.74,1,.52);
}
}

@mixin text_background {
    background-image: linear-gradient( 135deg, #00E4FF 10%, #69FF97 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}