@import '../../sass/keyframes';

.welcome_container {
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
}

.welcome_wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media (max-width: 1400px) {
    .welcome_container {
        flex-direction: column;
        justify-content: center;

        > img {
            margin: 0;
        }
    }
    .welcome_wrapper {
        margin: 0;
        align-items: center;

        > h1, a {
            text-align: center;
        }
    }
}

.welcome, .Iam, .welcome_profile > a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    text-align:left;
    display: flex;
    line-height: 2;
    animation: welcome 3s cubic-bezier(.17,.67,.83,.67);
    -webkit-animation: welcome 3s cubic-bezier(.17,.67,.83,.67);
}

.welcome_profile {
    height: 400px;
    width: 400px;
    margin-right: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 800px) {
    .welcome_container > img {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 600px) {
    .welcome_container > img {
        width: 200px;
        height: 200px;
    }
    .welcome_wrapper > h1, .welcome_wrapper  a {
        font-size: 35px;
    }
}
@media (max-width: 400px) {
    .welcome_container > img {
        width: 150px;
        height: 150px;
    }
    .welcome_wrapper > h1, .welcome_wrapper  a {
        font-size: 30px;
    }
}