@import '../../sass/keyframes';
@import '../../sass/mixins';
@import '../../sass/variables';

.welcome_container {
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
    width: 95%;
    padding: $header_height 0;

    > img {
        box-shadow: 5px 5px 40px #9d9d9d, -5px -5px 40px #1c1c1c;
    }
}

.welcome_wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.welcome, .Iam, .welcome_profile > a {
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    text-align:left;
    display: flex;
    line-height: 2;
}

.welcome_profile {
    height: 200px;
    width: 200px;
    margin-left: 10%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 1400px) {
    .welcome_container {
        flex-direction: column;
        justify-content: center;

        > img {
            margin: 0;
        }
    }
    .welcome_wrapper {
        margin: 8% 0;
        align-items: center;

        > h1, a {
            text-align: center;
        }
    }
}
@media (max-width: 800px) {
    .welcome_container > img {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 600px) {
    .welcome_container > img {
        width: 200px;
        height: 200px;
    }
    .welcome_wrapper > h1, .welcome_wrapper  a {
        font-size: 35px;
    }
}
@media (max-width: 400px) {
    .welcome_container > img {
        width: 150px;
        height: 150px;
    }
    .welcome_wrapper > h1, .welcome_wrapper  a {
        font-size: 30px;
    }
}