.zoomProject_Wrapper{
    display: flex;
    align-items: flex-start;
    width: 95%;
    height: 100%;
    margin: 5px 5px 5px 5px;
    overflow: scroll;
    
    > img {
        width: 100%;
        object-fit: cover;
    }
}