@import '../../sass/keyframes';
@import '../../sass/variables';

.zoomProject_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
    padding: 5% 3%;
}

.zoomProject_container.responsive_zoom {
    flex-direction: row;
}

.zoomProject_box {
    width: 100%;
    height: 100%;
    box-shadow:  10px 10px 40px #4a4a4a, inset -10px -10px 40px #646464ac;
    position: absolute;
    z-index: 20;
}

.zoomProject_Wrapper, .zoomProject_Wrapper_tech{
    display: flex;
    align-items: flex-start;
    height: auto;
    max-height: 60%;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    overflow-y: scroll;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow:  10px 10px 40px #4a4a4a;
}

.zoomProject_Wrapper {
    margin-left: -10%;
    width: 85%;
    
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}

.zoomProject_Wrapper_tech {
    align-items: flex-start;
    width: 50%;
    overflow: scroll;
    margin-top: -3%;
    margin-left: 10%;
    padding: 30px 30px;
    box-shadow:  10px 10px 40px #4a4a4a, inset -10px -10px 40px #646464;

    > .logos_showTech {
        margin: auto;
    }
}

.zoomProject_Wrapper.responsive_zoom {
    justify-content: space-between;
    overflow-y: scroll;
    width: 40%;
    height: 90%;
    margin-left: 5%;
}

.zoomProject_Wrapper_tech.responsive_zoom{
    margin-left: 5%;
    margin-top: -5%;
    height: auto;
    max-height: 75%;
    width: 40%;
    overflow: scroll;
}

.logos_showTech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    width: 20%;
    height: 100%;

    > img {
        height: auto;
        width: 50px;
        margin: 10px;
    }
    > a {
        margin: 10px;
        text-decoration: none;
        cursor: pointer;

        > img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            animation: githubLogo 2s ease-in-out infinite alternate;
            -webkit-animation: githubLogo 2s ease-in-out infinite alternate;
        }
    }
}

.text_showTech {
    display: flex;
    text-align: justify;
    font-size: 25px;
    line-height: 1.5;
    width: 75%;
    height: 100%;
}

@media (max-width: 1100px) {
    .logos_showTech {
        left: 40%;
    }
}
@media (max-width: 1000px) {
    .text_showTech {
        font-size: 20px;
    }
    .logos_showTech {
        left: 35%;
    }
}
@media (max-width: 700px) {
    .zoomProject_container.responsive_zoom {
        flex-direction: column;
    }
    .zoomProject_Wrapper.responsive_zoom {
        width: 60%;
        margin-left: 0;
    }
    .zoomProject_Wrapper_tech.responsive_zoom {
        margin-top: 0%;
        margin-right: -10%;
        width: 60%;
    }
}
@media (max-width: 600px) {
    .responsive_zoom{
        width: 95%;
        margin: 0;
    }
    .logos_showTech {
        left: 30%;
    }
    .zoomProject_Wrapper.responsive_zoom {
        width: 75%;
    }
    .zoomProject_Wrapper_tech.responsive_zoom {
        width: 75%;
    }
}
@media (max-width: 400px) {
    .logos_showTech {
        left: 25%;
    }
}