@import '../../sass/keyframes';

.zoomProject_Wrapper, .zoomProject_Wrapper_tech{
    display: flex;
    align-items: flex-start;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    overflow: scroll;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow:  20px 20px 60px #4a4a4a, -20px -20px 60px #646464;
    
    >img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}

.zoomProject_Wrapper {
    margin-left: -10%;
    margin-top: 10%;
    width: 85%;
}

.zoomProject_Wrapper_tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: -5%;
    margin-left: 10%;
    padding-bottom: 20px;
    overflow-y: scroll;
}

.zoomProject_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
    overflow-y: scroll;
    padding: 3%;
}

.responsive_zoom {
    width: 50%;   
}

.zoomProject_Wrapper.responsive_zoom{
    height: auto;
    margin-left: -25%;
}

.zoomProject_Wrapper_tech.responsive_zoom{
    height: auto;
    margin: 0;
    margin-left: 30%;
}

.logos_showTech {
    display: flex;
    // color: white;
    font-size: 40px;
    align-items: center;
    margin: 10% 0 5% 0;

    > img {
        height: 40px;
        width: auto;
        margin: 5px;
        filter: brightness(1.5);
        -webkit-filter: brightness(1.5);
    }
    > a {
        padding-left: 25px;
        text-decoration: none;
        cursor: pointer;

        > img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            animation: githubLogo 2s ease-in-out infinite alternate;
            -webkit-animation: githubLogo 2s ease-in-out infinite alternate;
        }
    }
}

.text_showTech {
    display: flex;
    padding: 0 5%;
    box-sizing: border-box;
    text-align: justify;
    // color: white;
    font-size: 25px;
    line-height: 1.5;
}

@media (max-width: 1400px) {
    .responsive_zoom{
        width: 70%;
    }
}
@media (max-width: 1100px) {
    .logos_showTech {
        left: 40%;
    }
}
@media (max-width: 1000px) {
    .responsive_zoom{
        width: 75%;
    }
    .text_showTech {
        font-size: 20px;
    }
    .logos_showTech {
        left: 35%;
    }
}
@media (max-width: 800px) {
    .responsive_zoom{
        width: 85%;
    }
}
@media (max-width: 600px) {
    .responsive_zoom{
        width: 95%;
        margin: 0;
    }
    .logos_showTech {
        left: 30%;
    }
}
@media (max-width: 400px) {
    .logos_showTech {
        left: 25%;
    }
}