@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/keyframes';
@import '../../components/ProjectCard/projectCard.scss';
@import '../../components/ZoomProject/zoomProject.scss';
@import '../../components/Carrousel/carrousel.scss';
@import '../../components/Welcome/welcome.scss';
@import '../../components/Logos/logos.scss';

.home_wrapper{
    display: flex;
    padding: 0px 10px;
    height: 100vh;
    overflow-y: hidden;
}

.zoom_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carrousel_arrow {
    display: flex;
    position: absolute;
    z-index: 20;
    height: 40px;
    width: 40px;
    top: 50%;
    margin: auto;
    animation: carrousel_arrow 2s 2s infinite;
    -webkit-animation: carrousel_arrow 2s 2s infinite;

    &:hover {
        cursor: pointer;
    }
}

.cards {
    display: flex;
    width: 400px;
    visibility: hidden;
    flex-direction: column;
    animation: cards_entrance 14s ease-in;
    -webkit-animation: cards_entrance 14s ease-in;

    >.projectCard_Wrapper {
        

        >.projectCard_Opacity > img {
            height: 200px;
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
        }
    }
}

.cards div:nth-child(even) {
    animation: carrousel_entrance 7s ease-in;
    -webkit-animation: carrousel_entrance 7s ease-in;
}

.cards div:nth-child(odd) {
    animation: carrousel_entrance 8s ease-in;
    -webkit-animation: carrousel_entrance 8s ease-in;
}