@import '../../sass/variables';
@import '../../sass/mixins';
@import '../../sass/keyframes';
@import '../../components/ProjectCard/projectCard.scss';
@import '../../components/ZoomProject/zoomProject.scss';
@import '../../components/Carrousel/carrousel.scss';
@import '../../components/Welcome/welcome.scss';
@import '../../components/Logos/logos.scss';

.home_wrapper{
    height: 100%;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.zoom_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.carrousel_arrow {
    display: flex;
    position: absolute;
    z-index: 20;
    height: 50px;
    width: 50px;
    top: 30%;
    left: -60px;
    margin: auto;
    animation: carrousel_arrow 2s 2s infinite;
    -webkit-animation: carrousel_arrow 2s 2s infinite;

    &:hover {
        cursor: pointer;
    }
}

.cards_wrap {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    width: 180%;
    overflow-x: hidden;
    height: 40%;
    animation: carrousel_entrance 6s ease-in;
    -webkit-animation: carrousel_entrance 6s ease-in;

    >.cards_container {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        justify-content: right;
        border: solid black 25px;
        box-sizing: border-box;
        
        >.projectCard_Wrapper {
            height: auto;
            
            >.projectCard_Opacity {
                align-items: center;

                >img {
                    height: 400px;
                    width: 600px;
                    filter: grayscale(0%);
                    -webkit-filter: grayscale(0%);
                    animation: cards_entrance 16s ease-in-out;
                    -webkit-animation: cards_entrance 16s ease-in-out;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .cards_wrap {
        width: 250%;
    }
}
@media (max-width: 1000px) {
    .cards_wrap {
        width: 350%;
    }
}
@media (max-width: 800px) {
    .cards_wrap {
        width: 400%;
    }
    .carrousel_arrow {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 600px) {
    .cards_wrap {
        width: 500%;
    }
}
@media (max-width: 400px) {
    .cards_wrap {
        width: 500%;
    }
    .carrousel_arrow {
        left: -40px;
    }
}