@import '../../sass/variables';
@import '../../sass/mixins';

.carrousel_band {
    display: flex;
    justify-content: space-between;
    width: 0%;
    @include carrousel_notShow;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 20;
    top: 0;

    .carrousel_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow-y: hidden;
        box-sizing: border-box;
        z-index: 20;
        right: 10px;
        pointer-events: none;

        & .carrousel_wrapper, .carrousel_content_wrapper{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;  
            position: relative;
            height: 100%;
        }
        
        & .arrowUp, .arrowDown {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgba(253, 231, 159, 0.5);
            position: absolute;
            z-index: 1;
            right: 20%;
            cursor: pointer;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        & .arrowUp {
            top: 5%;

            &:hover {
                transform: translateY(-5%);
                -webkit-transform: translateY(-5%);
                -moz-transform: translateY(-5%);
                -ms-transform: translateY(-5%);
                -o-transform: translateY(-5%);
            }
        }
        & .arrowDown {
            bottom:5%;

            &:hover {
                transform: translateY(5%);
                -webkit-transform: translateY(5%);
                -moz-transform: translateY(5%);
                -ms-transform: translateY(5%);
                -o-transform: translateY(5%);
            }
        }
        .carrousel_content {
            overflow-y: scroll;
        }
    }
}

.carrousel_band.carrousel_visible {
    width: 20%;
    @include carrousel_show;

    .carrousel_container {
        pointer-events: all;

        .arrowUp, .arrowDown {
            right: 35%;
        }
    }
}

@media (max-width: 1400px) {
    .carrousel_band.carrousel_visible {
        width: 30%;

        .carrousel_container .arrowUp, .carrousel_container .arrowDown {
            right: 40%;
        }
    }
}
@media (max-width: 1000px) {
    .carrousel_band.carrousel_visible {
        width: 40%;
    }
}
@media (max-width: 800px) {
    .carrousel_band.carrousel_visible {
        width: 70%;
    }
}
@media (max-width: 600px) {
    .carrousel_band.carrousel_visible {
        width: 80%;
    }
}