.header_Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header_height;
    width: 100%;
    position: fixed;
    z-index: 15;
    background-color: black;
    cursor: pointer;
    color: white;
    font-size: 30px;

    > a {
        text-decoration: none;
        color: white;
        font-size: 30px;
    }
    
    > .header_projet {
        margin-right: 10px;
    }
    > .header_apropos {
        margin-left: 10px;
    }
}