@import '../../sass/keyframes';

.logos_wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    height: auto;
    padding: 15px 15px;
    width: auto;
    background-color: transparent;

    >.logos {
        flex-wrap: wrap;
    
        >img {
            height: 60px;
            width: auto;
            margin: 5px;
        }
    }

    > a {
        padding-left: 25px;
        color: white;
        text-decoration: none;
        font-size: 30px;
        cursor: pointer;
    }

    > .icon_linkedin {
        animation: githubLogo 2s infinite;
        -webkit-animation: githubLogo 2s infinite;
    }
}