@import '../../sass/keyframes';

.logos_wrapper {
    display: flex;
    position: absolute;
    z-index: 20;
    align-content: center;
    align-items: center;
    padding: 15px 15px;
    width: auto;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: -1px -1px 20px #1c1b1b;
    bottom: 5%;
    left: 3%;

    >.mobile_logo svg {
        height: 60px;
        width: 60px;
        color: #69ff97;
        cursor: pointer;
    } 

    > a {
        padding-left: 25px;
        // color: white;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
    }

    > .icon_linkedin {
        animation: githubLogo 2s infinite;
        -webkit-animation: githubLogo 2s infinite;
    }
}

@media (max-width: 1000px) {
    .logos_wrapper > .mobile_logo svg {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 800px) {
    .logos_wrapper > .mobile_logo svg {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 600px) {
    .logos_wrapper > .mobile_logo svg {
    width: 35px;
    height: 35px;
    }
}