@import './pages/Home/home.scss';
@import './components/Header/header.scss';
@import './pages/Error/error.scss';
@import './pages/About/about.scss';

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}